* { 
padding : 0;
margin : 0;
} 
body { 
font : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 14px;
background-image : url(../images/head.jpg);
background-repeat : repeat-x;
color:rgb(231, 8, 8);
       /* line-height:1.9em;*/

} 
img { 
padding : 5px;
border : 1px solid rgb(231, 6, 6);
} 
img.floatTL { 
float : left;
margin-right : 10px;
margin-bottom : 5px;
margin-top : 15px;
margin-left : 10px;
} 
img.floatTR { 
float : right;
margin-left : 7px;
margin-bottom : 0;
margin-top : 15px;
margin-right : 10px;
} 
#wrapper { 
margin : 0 auto;
width : 75%;
} 
.clear { 
clear : both;
} 
a { 
color : #dd733e;
} 
h2, h3 { 
font-size : 2.2em;
color : #fffff1;
text-transform : uppercase;
padding-top : 9px;
padding-bottom : 7px;
padding-left : 10px;
background-image : url(../images/hbg.jpg);
} 
h3 { 
margin-top : 15px;
} 
#header { 
color : rgb(250, 10, 10);
width : 95%;
float : left;
padding-left : 10px;
padding-right : 10px;
height : 64px;
margin : 13px 0 0 0;
} 
.logo { 
float : right;
/*margin-right : 30px;*/
} 
.logo h1#lineone { 
font-size : 1.7em;
font-weight : lighter;
font-family : helvetica, arial, sans-serif;
color : #757eff;
padding-left : 60px;
border : none;
letter-spacing : -1px;
} 
.logo h1#lineone span { 
color : #dd733e;
} 
.logo h2#linetwo { 
font-size : 0.9em;
font-family : helvetica, arial, sans-serif;
text-transform : none;
color : #dd733e;
background-image : none;
} 
.logo a { 
text-decoration : none;
color : #dd733e;
} 
#navigation { 
padding : 0;
width : 100%;
background : transparent;
voice-family : inherit;
voice-family : inherit;
font-size : 1em;
} 
#navigation ul { 
margin : 0;
margin-left : 0;
padding : 0;
list-style : none;
} 
#navigation li { 
display : inline;
/*margin : 0 2px 0 0;*/
padding : 0;
text-transform : uppercase;
} 
#navigation a { 
float : left;
display : block;
color : rgba(255, 94, 0, 0.973);
margin : 0 1px 0 0;
padding : 2px 10px;
text-decoration : none;
letter-spacing : 1px;
border-bottom : 1px solid white;
font-family : arial, helvetica, sans-serif;
font-weight:bold;
} 
#navigation a:hover { 
background-color : #d25a0b;
color : #fff;
} 
#navigation #current a { 
color : #fff;
background-color : #0f52ff;
border-color : #f38202;
} 
#navigationmenuline { 
clear : both;
padding : 0;
width : 100%;
height : 5px;
line-height : 5px;
background-color : #0f52ff;
} 
#leftcolumn { 
color : rgb(219, 241, 16);
margin : 0 0 0 0;
padding : 10px;
min-height : 350px;
width : 200px;
float : left;
} 
#leftcolumn ul { 
display : list-item;
list-style-type : none;
margin-left : 5px;
margin-right : 6px;
} 
#leftcolumn li { 
padding-top : 5px;
padding-left : 5px;
padding-bottom : 3px;
border-bottom : 1px solid #336699;
} 
#leftcolumn li:hover { 
background-color : #0f52ff;
} 
#leftcolumn li a { 
color : #336699;
text-decoration : none;
font-size : 1.1em;
color : #9ad308;
} 
#leftcolumn li a:hover { 
color : #12f622;
} 
#leftcolumn p { 
text-align : justify;
padding : 5px;
background-image : url(../images/pbg.jpg);
background-repeat : repeat-x;
} 
#rightcolumn { 
float : right;
color : rgb(250, 9, 9);
border : 1px solid #ccc;
margin : 0 0 20px 0;
padding : 10px;
min-height : 350px;
width : 100%;
display : inline;
} 
.maintext p { 
padding : 10px;
text-align : justify;
font-size : 1.1em;
background-image : url(../images/pbg.jpg);
background-repeat : repeat-x;
} 
#cols { 
width : 98%;
min-height : 136px;
font-size : 1em;
color : rgb(245, 9, 9);
padding : 0;
margin : 0;
float : left;
display : inline;
} 
.col_1 { 
width : 49%;
float : left;
padding : 18px 0 8px 0;
} 
.col_2 { 
width : 49%;
float : right;
padding : 18px 0 8px 0;
margin-left : 5px;
} 

.col_single { 
width : 98%;
float : left;
padding : 18px 0 8px 0;
} 

.col_1 p, .col_2 p, .col p, .col_m p { 
margin : 0 0 0 0;
padding : 10px 10px 0 10px;
text-align : justify;
background-image : url(../images/pbg.jpg);
background-repeat : repeat-x;
} 
#triplebox { 
width : 99%;
/*min-height : 136px;*/
font-size : 1em;
color : rgb(233, 10, 10);
padding : 0;
margin : 0;
float : left;
display : inline;
} 
.col { 
width : 30%;
float : left;
padding : 18px 0 8px 0;
} 
.col_m { 
width : 30%;
float : left;
padding : 18px 0 8px 0;
margin : 0 30px;
} 
#footer { 
width : 95%;
color : rgb(241, 9, 9);
padding : 10px;
margin : 25px 0 10px 0;
/*height : 35px;*/
border-top : 1px solid #ccc;

} 

#footer p { 
text-align : center;
padding-top : 5px;
font-size : 0.9em;

} 
#footer a { 
color : #486687;
}